.step.step2
  %h2 Ok, all ready &raquo;
  %p
    Your Order ID:
    %strong= @order[:id]

%form#paypal_form{ :action => "#{@payment.class.base_path}/cgi-bin/webscr", :method => :post }
  %input{ :type => :hidden, :name => :cmd, :value => '_s-xclick' }
  - form_values = @payment.form_values( @order, @complete_url, @notify_url )
  %input{ :type => :hidden, :name => :encrypted, :value => form_values[:encrypted] }
  %input{ :type => :hidden, :name => :commit, :value => "Checkout" }
  %input.btn.btn-primary{ :type => :submit, :value => "Checkout with PayPal" }

:javascript
  $(document).trigger( 'paymentWidgetLoaded' );
