.box.span4
  #login_form.clearfix
    - if flash[:error]
      %p.error= flash[:error]
    %form{ action:url(:admin, :login_action), method:'post' }
      %input.input{ type:'text', placeholder:'Login', :name => 'login' }
      %input.input{ type:'password', placeholder:'Password', name:'password' }
      %input.btn.btn-large.btn-primary{ type:'submit', value:'Login' }
