# SESSION
export SESSION_SECRET=''

# REDIS
export REDIS_URI='http://localhost:6379'

# AWS
export AWS_ACCESS_KEY_ID=''
export AWS_SECRET_ACCESS_KEY=''

# STRIPE
export STRIPE_PUBLISHABLE=''
export STRIPE_SECRET=''

# PAYPAL
export PAYPAL_CERT_ID=''
export PAYPAL_BUSINESS_ID=''
export PAYPAL_IDENTITY_TOKEN=''

# be careful about the spacing of these, library is picky
export PAYPAL_APP_CERT='-----BEGIN CERTIFICATE-----
APP_CERT
-----END CERTIFICATE-----'

export PAYPAL_APP_KEY='-----BEGIN RSA PRIVATE KEY-----
APP_KEY
-----END RSA PRIVATE KEY-----'

export PAYPAL_CERT='sandbox_web_api
-----BEGIN CERTIFICATE-----
CERT
-----END CERTIFICATE-----'
